<!DOCTYPE html>
<html>
  <head>
    <title>Rails6Starter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
  </head>

  <body>
    <div class="flex flex-col h-screen">
      <%= render(Shared::TopNavComponent.new(user: current_user)) %>
      <div class="text-gray-700">
        <%= yield %>
      </div>
      <% flash.each do |key, value| %>
        <%= render partial: "shared/flash_message", locals: { level: key, content: value } %>
      <% end %>
    </div>
  </body>
</html>
